.wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.title {
  padding: 16px 12px 16px 72px;
  background: #0C4B33;
  color: white;
  margin-top: 0;
}

.subtitle {
  color: #44B78B;
  margin-left: 20px;
  font-size: 16px;
  font-weight: normal;
}

.content {
  display: flex;
  flex-grow: 1;
}

.formContainer {
  background-color: rgb(241, 255, 247);
  border: 1px solid #C9F0DD;
  color: #0C3C26;
  padding: 20px 12px 12px 12px;
  height: 100%;
  width: 256px;
}

.formHeader {
  margin-bottom: 6px;
}

.poemContainer {
  text-align: center;
  flex-grow: 1;
}

.poemImage {
  text-align: auto;
  margin-bottom: 12px;
  margin-top: 48px;
}

.poemTitle {
  margin-bottom: 12px;
  text-transform: capitalize;
}

label, input {
  margin-right: 4px !important;
}

label {
  font-size: 12px;
  font-weight: bold;
}
